importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
import plotly as py
import plotly.io as pio
import plotly.figure_factory as ff
import plotly.express as px
init_notebook_mode(connected=True)

reading data

In [32]:
file="World University Rankings 2023.csv"
data=pd.read_csv(file)
df=pd.DataFrame(data)

df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

In [23]:
df.columns

Index(['University Rank', 'Name of University', 'Location', 'No of student',
       'No of student per staff', 'International Student', 'Female:Male Ratio',
       'OverAll Score', 'Teaching Score', 'Research Score', 'Citations Score',
       'Industry Income Score', 'International Outlook Score'],
      dtype='object')

pre-processing

In [33]:
df.rename(columns={'University Rank':'rank', 'Name of University':'name', 'Location':'location', 'No of student':'std_count',
       'No of student per staff':'stf_count', 'International Student':'int_std', 'Female:Male Ratio':'fem_ratio',
       'OverAll Score':'overall_score', 'Teaching Score':'teach_score', 'Research Score':'research_score', 'Citations Score':'citiations_score',
       'Industry Income Score':'income_score', 'International Outlook Score':'int_outlook_score'}, inplace=True)

In [25]:
df.columns

Index(['rank', 'name', 'location', 'std_count', 'stf_count', 'int_std',
       'fem_ratio', 'overall_score', 'teach_score', 'research_score',
       'citiations_score', 'income_score', 'int_outlook_score'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               2341 non-null   object
 1   name               2233 non-null   object
 2   location           2047 non-null   object
 3   std_count          2209 non-null   object
 4   stf_count          2208 non-null   float64
 5   int_std            2209 non-null   object
 6   fem_ratio          2128 non-null   object
 7   overall_score      1799 non-null   object
 8   teach_score        1799 non-null   float64
 9   research_score     1799 non-null   float64
 10  citiations_score   1799 non-null   float64
 11  income_score       1799 non-null   float64
 12  int_outlook_score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

In [35]:
df= df.dropna(subset=['name'])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2233 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               2233 non-null   object
 1   name               2233 non-null   object
 2   location           2047 non-null   object
 3   std_count          2209 non-null   object
 4   stf_count          2208 non-null   float64
 5   int_std            2209 non-null   object
 6   fem_ratio          2128 non-null   object
 7   overall_score      1721 non-null   object
 8   teach_score        1721 non-null   float64
 9   research_score     1721 non-null   float64
 10  citiations_score   1721 non-null   float64
 11  income_score       1721 non-null   float64
 12  int_outlook_score  1721 non-null   float64
dtypes: float64(6), object(7)
memory usage: 244.2+ KB

scatter graph

In [10]:
pio.templates.default = "plotly_white"

In [51]:
line1=go.Scatter(x=df['rank'],
                  y=df['fem_ratio'],
                    mode='lines+markers', 
                    name='fem_ratio',
                    text=df['name'])

line2=go.Scatter(x=df['rank'],
                  y=df['int_std'],
                    mode='lines+markers', 
                    name='int_std',
                    text=df['name'])

lines=[line1, line2]

layouts=go.Layout(title='University Rankings 2023',
                 xaxis=dict(title='Rank'),
                 yaxis=dict(title='Score'),
                 showlegend=True)
fig=dict(data=lines, layout=layouts)
plot(fig,filename="university_ranking.html")

'university_ranking.html'

bar graph

In [50]:
df_top20=df.head(20)

bar1=go.Bar(x=df_top20['name'],
                  y=df_top20['fem_ratio'],
                    name='fem_ratio',
                    text=df_top20['name'])

bar2=go.Bar(x=df_top20['name'],
                  y=df_top20['int_std'],
                    name='int_std',
                    text=df_top20['name'])

bars=[bar1, bar2]

layouts=go.Layout(barmode='group',
                 title='University Rankings 2023',
                 xaxis=dict(title='Rank'),
                 yaxis=dict(title='Score'),
                 showlegend=True)
fig=dict(data=bars, layout=layouts)
plot(fig,filename="university_ranking_2.html")

'university_ranking_2.html'